/* Bagian Header */

header {
    border-top: 8px solid red;
    border-bottom: 8px solid red;
    height: 80px;
    width: 100%;
    background-color: rgba(12, 13, 14, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 315px;
    margin-top: 20px;
    color: white;
    background-color: rgb(146, 20, 20);
    text-align: center;
    border-radius: 50px;
    text-shadow: 5px 5px 9px rgb(3, 0, 0);
  }
  
  .header-left {
    float: left;
  }
  
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-left a {
    line-height: 80px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-left a:hover {
    background-color: rgba(236, 19, 19, 0.3);
  }
  
/* Bagian Main */

.top-wrapper {
    height: 75vh;
    padding: 140px 0 100px 0;
    background-image: url(img-background1.jpg);
    background-size: cover;
	  position: relative;
	  display: flex;
	  justify-content: center;
  	align-items: center;
    border-bottom: 8px solid red;
  }
.top-wrapper:after {
  content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(3, 3, 3, 0.774);
}

  .top-wrapper h1 {
    z-index: 1;
    padding: 8px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 95px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 9px rgb(3, 0, 0);
    border: 5px solid rgb(168, 30, 30);
  }

  .top-wrapper h2 {
    z-index: 1;
    font-size: 35px;
    font-weight: 100px;
    color: hsl(0, 0%, 100%);
    text-shadow: 5px 5px 9px rgb(3, 0, 0);
    text-align: bold;
  }

  .top-wrapper p {
    float: right;
    z-index: 1;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 5px 1px 50px rgb(0, 0, 0)
  }

  .center-wrapper {
    background-color: rgba(12, 13, 14, 0.9);
    border-bottom: 1px solid rgb(223, 1, 1);
    padding-bottom: 80px;
    text-align: center;
  }
  
  .text p {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    font-weight: normal;
  }
 
  .service-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: black;
  }
  
  .text {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #fdfdfd;
  }
  
  .text h2 {
    
    font-weight: normal;
  }
  
  .lessons {
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
  }

  .lesson {
    z-index: 1;
    float: left;
    width: 25%;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
  }
  
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  .text h3 {
    font-weight: normal;
  }

  .clear {
    clear: left;
  }
  
  

/* Bagian Body */

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    z-index:1 ;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Bagian Footer */
