/* Bagian Header */

header {
    height: 80px;
    width: 100%;
    background-color: rgba(12, 13, 14, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 315px;
    margin-top: 20px;
    color: white;
    background-color: rgb(146, 20, 20);
    text-align: center;
    border-radius: 50px;
    text-shadow: 5px 5px 9px rgb(3, 0, 0);
  }
  
  .header-left {
    float: left;
  }
  
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 80px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
/* Bagian Main */

.top-wrapper {
    height: 490px;
    padding: 280px 0 100px 0;
    background-image: url(img-background1.jpg);
    background-size: cover;
    color: rgb(243, 243, 243);
    text-align: center;
  }
  
  .top-wrapper h1 {
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-shadow: 5px 5px 9px rgb(3, 0, 0);
  }
 

/* Bagian Body */

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Bagian Footer */
