* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

/* Bagian Header */

header {
  height: 80px;
  width: 100%;
  background-color: rgba(12,13,14,0.5);
  position :fixed;
  top: 0;
  z-index: 10;
  border-bottom: 2px solid red;
}

.logo {
  margin-top: 20px;
  width: 380px;
  color: white;
  font-size: 35px;
  text-align: center;
  text-shadow: 5px 5px 9px rgb(3, 0, 0);
  border-radius: 8px;
  background-color: red;
}

.header-right {
  float: right;
}

.ico-menu {
  display: none;
}

.menu-icon {
  color:red;
  float:left;
  display:none;
  font-size: 25px;
  padding: 21px 0;
}


.header-left {
  float: left;
  margin-right: -25px;
}

.header-left a {
  line-height: 80px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-left a:hover {
  background-color: rgba(243, 10, 10, 0.3);
}
  
/* Bagian Main */

.top-wrapper {
  height: 100%;
  padding: 200px 0 100px 0;
  background-image: url(img-background1.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}

.top-wrapper:after {
  content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(3, 3, 3, 0.3);
}



.top-wrapper h1 {
  z-index: 1;
  position: relative;
  font-size: 60px;
  letter-spacing: 5px;
  margin-bottom: 50px;
  border: 2px solid red;
  text-shadow: 5px 5px 9px rgb(3, 0, 0);
  animation-name: totop;
  animation-duration: 10s;
  animation-delay: -2s;
  margin-bottom: 50px;
}

@keyframes totop {
  0% {color: black; left: 0px; top: 0px;}
  25% {color: white; left: 0px; top: -170px;}
  50% {color: white; left: 0px; top: 0px;}
}

.top-wrapper h2 {
  text-shadow: 5px 5px 9px rgb(3, 0, 0);
  text-align: left;
  animation-name: toright;
  margin-top: 10px;
  font-size: 35px;
  z-index: 1;
  position: relative;
  font-size: 30;
  animation-duration: 10s;
  animation-delay: -2s;
  margin-bottom: 50px;
}



@keyframes toright {
  0% {color: black; left: 0px; top: 0px;}
  25% {color: white; left: 750px; top: 0px;}
  50% {color: white; left: 0px; top: 0px;}
}

.top-wrapper p {
  z-index: 1;
  position: relative;
  margin-bottom: 60px;
  font-size: 25px;
  float: right;
  animation-name: toleft;
  animation-duration: 10s;
  animation-delay: -2s;
}

.btn {
  z-index: 1;
  position: relative;
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.btn-wrapper {
  margin-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #fc2a0f;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 7px #111111;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}


@keyframes toleft {
  0% {color: black; right: 0px; top: 0px;}
  25% {color: white; right: 750px; top: 0px;}
  50% {color: white; right: 0px; top: 0px;}
}

.grid-wrapper {
  padding: 30px 5%;
  background-color: rgb(19, 18, 18, 0.7);
  text-align: center;
}

.heading {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.heading h2 {
  font-weight: normal;
  margin-bottom:10px;
  margin-top:20px;
}
.heading h3{
  margin-bottom:30px;
}

.grid {
  float: left;
  width: 25%;
}

.grid span{
  margin-left:40px;
  display: inline-block;
  width:25%;
}
.grid .fa{
  width:10%;
}
i{  
  text-align:center;
}
.grid p{
  width: 100%;
  color: white;
}

.in-contents{
  float:right;
  text-align:justify;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
  color: white;
}

.heading h3 {
  font-weight: normal;
}

.center-wrapper {
  padding: 25px;
  background-color: rgb(19, 18, 18, 0.9);
  text-align: center;
}


.clear {
  clear: left;
}

/* Bagian Body */
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


/* Bagian Footer */

footer img {
  width: 125px;
}

footer p {
  color: white;
  font-size: 12px;

}

footer {
  background-color: rgb(19, 18, 18, 0.9);
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

footer .grid{
  padding-bottom:10px;
}

.copyr {
  border-top:2px solid black;
  text-align: center;
  padding-top:20px;
}

iframe{
  border-radius:4px;
}

img{
  border-radius:4px;
}
